#title
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}
#suivant
{
	float: right;
	padding: 20px;
}
#menu {
    display: flex;                              
    background-color:#000000;   
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	overflow: hidden;
}
section
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(background.jpg);
	background-position-x: center;
	background-size: cover;
	animation: animateBg 10s linear infinite;

}
/*
@keyframes animateBg
{
	0%,100%
	{
		transform: scale(1);
	}
	50%
	{
		transform: scale(1.20);
	}
}
*/
span
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
	0 0 0 8px rgba(255,255,255,0.1),
	0 0 20px rgba(255,255,255,1);
	animation: animate 3s linear infinite;
}
span::before
{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate
{
	0%
	{
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	70%
	{
		opacity: 1;
	}
	100%
	{
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}

}

span:nth-child(1)
{
	top: 0;
	right: 0;
	span:nth-child(1);
	left: initial;
	animation-delay: 0;
	animation-duration: 1s;
}
span:nth-child(2)
{
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}
span:nth-child(3)
{
	top: 80px;
	left: initial;
	right: 0px;
	animation-delay: 0.4s;
	animation-duration: 2s;
}
span:nth-child(4)
{
	top: 0px;
	left: initial;
	right: 180px;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}
span:nth-child(5)
{
	top: 0px;
	left: initial;
	right: 400px;
	animation-delay: 0.8s;
	animation-duration: 2.5s;
}
span:nth-child(6)
{
	top: 0px;
	left: initial;
	right: 600px;
	animation-delay: 1s;
	animation-duration: 3s;
}

#playlist
{
	    margin-left: 625px;
	    margin-top: 150px;
}


.zoom {
width: 320px;
height: 240px;
}
.image {
width: 100%;
height: 100%;
}
.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}

